@import "../../../assets/styles/app.scss";

$circle-wrapper-color: #FFFFF;
$circle-color: rgb(37, 110, 169);
$circle-color-correctly: rgb(23, 169, 0);
$circle-color-wrong: rgb(232, 64, 64);

$circle-wrapper-size: 900px;
$circle-size: ($circle-wrapper-size/10);
$translate-size: ($circle-wrapper-size/2)+1;

.circle-letter {
  width: 30px;
  height: 30px;
  background-color: $circle-color;
  text-align: center;

  &.circle-correctly {
    background: $circle-color-correctly;
  }

  &.circle-wrong {
    background: $circle-color-wrong;
  }
}

.row-circles {
  margin-bottom: 10px;
  margin-top: 20px;
}
