<div class="container">
  <div class="col-12">
    <div class="card">
      <app-navigation></app-navigation>
      <div class="card-header text-center">
        <h2>Buchstabenrad</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>
              Es gibt ein Buchstabenrad mit 26 Fragen, also je einer Frage pro Buchstabe des Alphabets. Die Kandidaten
              haben
              die jeweils erspielten Sekunden für die Beantwortung der Fragen zur Verfügung. Werden alle 26 richtig
              beantwortet, gewinnt der schnellere Kandidat den Hauptpreis.
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-margin-right btn-success" [disabled]="isStarted" (click)="start()">START</button>
            <button class="btn btn-margin-right btn-danger" [disabled]="!isStarted" (click)="stop()">STOP</button>
            <button class="btn btn-margin-right btn-primary" [disabled]="activePlayer==player1"
                    (click)="switchPlayer()">Display
              Player 1
            </button>
            <button class="btn btn-primary" [disabled]="activePlayer==player2" (click)="switchPlayer()">Display
              Player 2
            </button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-header text-center">
                <h3 *ngIf="activePlayer==player1">Player1</h3>
                <h3 *ngIf="activePlayer==player2">Player2</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <p>Fragensatz wählen:</p>
                    <select [(ngModel)]="activePlayer.questionList" class="form-select"
                            [disabled]="activePlayer.timer.isStarted || activePlayer.questionIndex > 0 || activePlayer.answersGiven > 0">
                      <option *ngFor="let set of questionSets" [ngValue]="set.questionList">{{set.id}}</option>
                    </select>
                    <hr>
                    <p>
                      Timer: {{activePlayer.timer.time}}
                    </p>
                    <p>
                      Richtige Antworten: {{activePlayer.answersGivenCorrectly}}
                    </p>
                    <p>
                      Falsche Antworten: {{activePlayer.answersGiven - activePlayer.answersGivenCorrectly}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-margin-right btn-primary" (click)="startPlayer()"
                        [disabled]="activePlayer.timer.isStarted">START
                </button>
                <button type="button" class="btn btn-danger" (click)="stopPlayer()"
                        [disabled]="!activePlayer.timer.isStarted">STOP
                </button>
              </div>
            </div>
          </div>
          <div class="col-8">
            <ng-container *ngIf="activePlayer.timer.isStarted">
              <div class="card text-center">
                <div class="card-header">
                  <h3>Aktuelle Frage</h3>
                </div>
                <ng-container *ngFor="let question of activePlayer.questionList; let index=index;">
                  <div class="card-body" *ngIf="index == activePlayer.questionIndex">
                    <div class="row">
                      <div class="col-12">
                        <p>
                          {{ question.letter }}
                        </p>
                        <p>
                          {{ question.question }}
                        </p>
                        <p>
                          {{ question.answer }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer" *ngIf="index == activePlayer.questionIndex">
                    <button type="button" (click)="giveCorrectAnswer(question, index)"
                            class="btn btn-margin-right btn-success"
                            [disabled]="!activePlayer.timer.isStarted">Richtig
                    </button>
                    <button type="button" (click)="skipAnswer(question, index)"
                            class="btn btn-margin-right btn-warning"
                            [disabled]="!activePlayer.timer.isStarted">Weiter!
                    </button>
                    <button type="button" (click)="giveWrongAnswer(question, index)"
                            class="btn btn-danger"
                            [disabled]="!activePlayer.timer.isStarted">Falsch!
                    </button>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="row row-circles">
          <div class="col-12">
            <div *ngFor="let question of activePlayer.questionList; let index=index;"
                 class="rounded rounded-circle circle-letter float-start btn-margin-right"
                 [ngClass]="{'circle-correctly': question.isAnswered && question.isAnsweredCorrectly, 'circle-wrong': question.isAnswered && !question.isAnsweredCorrectly}">
              {{question.letter}}
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Buchstabe</th>
                <th>Frage</th>
                <th>Antwort</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let question of activePlayer.questionList"
                  [ngClass]="{'table-success': question.isAnswered && question.isAnsweredCorrectly, 'table-danger': question.isAnswered && !question.isAnsweredCorrectly}">
                <td>{{question.letter}}</td>
                <td>{{question.question}}</td>
                <td>{{question.answer}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

