<div class="container">
  <div class="col-12">
    <div class="card">
      <app-navigation></app-navigation>
      <div class="card-header text-center">
        <h2>Intro</h2>
      </div>
      <div class="card-body">
        <p>
          Das Intro muss nun abgespielt werden!
        </p>
        <button class="btn btn-primary btn-margin-right" (click)="startVideo()">START</button>
        <button class="btn btn-danger" (click)="stopVideo()">STOP</button>

        <p>Und nun den Intro SCreen anzeigen</p>
        <button class="btn btn-primary btn-margin-right" (click)="startImage()">START</button>
        <button class="btn btn-danger" (click)="stopImage()">STOP</button>

      </div>
    </div>
  </div>
</div>
