$color-purple-navy: #4C6085;
$color-blue-bolt: #00AEFF;
$color-blue-jeans: #57B8BE;
$color-pewter-blue: #93B7BE;
$color-white: floralwhite;

.card-header {

  h2, h3 {
    margin-bottom: 0;
  }
}

.btn-margin-right {
  margin-right: 10px;
}
