<div class="container">
  <div class="col-12">
    <div class="card">
      <app-navigation></app-navigation>
      <div class="card-header text-center">
        <h2>Home - Administration</h2>
      </div>
      <div class="card-body">
        <h3>Anleitung</h3>
        <div class="alert alert-info">
          Bitte stelle sicher, dass der Server gestartet wurde. Anderenfalls kann die Echtzeitübertragung der Daten zu
          den
          Display-Anzeigen nicht gewährleistet werden.
        </div>
        <p>
          Herzlich Willkommen auf der Administrationsansicht von Buchstaben-Battle.
        </p>
        <p>
          Mit Hilfe dieser Administrationsansicht kann ein Spielverlauf der von Buchstaben Battle gestartet, pausiert
          und
          beendet werden.
        </p>
        <p>
          Da in der Administrationsansicht die Lösungen eingeblendet werden, sollte unbedingt sicher gestellt werden,
          dass
          kein Kandidat*in Einblick auf diese Anzeige erhält, während eine Spiel läuft.
        </p>
        <hr>
        <h4>Ablauf</h4>
        <p>
          Während die Ansicht "Home" dargestellt wird, erscheint auf dem Display ein schwarzer Bildschirm.
        </p>
        <p>
          Durch Navigation zur Ansicht "Start" wird auf dem Display das Intro abgespielt.
        </p>
        <p>
          Durch Navigation zur Ansicht "Spielstand" wird auf dem Display der aktuelle Spielstand angezeigt.
        </p>
        <p>
          Durch die Navigation zu allen anderen Menupunkten wird das jeweilige Spiel auf dem Display angezeigt und kann
          mittels der jeweiligen "Start"-SChaltfläche gestartet werden.
        </p>
        <p>Als Administrator kann also selbst entschieden werden, ob der Spielstand zwischen den Spielen angezeigt
          werden
          soll oder direkt zum nächsten Spiel übergegangen wird.
        </p>
        <div class="alert alert-warning">
          Wird während eines gestarteten Spiels die Ansicht gewechselt, so wird das Spiel automatisch gestoppt und das
          jeweils neue gestartet. Spielstände sind dann entsprechend verloren!
        </div>
        <hr>
        <h4>Erklärungen</h4>

        <p>
          <span class="fw-bold">Mut zur Lücke</span>: Jedes Team hat eines von zwei Kategorien
          (bspw.
          'Handball und Fußball' oder 'Tag und Nacht'). Die
          Team-Mitglieder nennen nun solange Buchstaben, bis das zu erratende Wort gelöst wurde oder fünf falsche, nicht
          im
          Wort vorkommende Buchstaben genannt wurden. Wird ein falscher Buchstabe genannt, wechselt das Team-Mitglied
          und
          es
          konnte eine Sekunde weniger gewonnen werden. Für die Lösung jedes Wortes können bis zu 5 Sekunden für das
          Team-Konto
          gesammelt werden.
        </p>

        <p>
          <span class="fw-bold">Buchstabensalat</span>: Die Kandidaten müssen in einem 5 × 5 Felder
          großen Gitter drei
          Wörter mit 3 bis 5 Buchstaben
          Länge finden. Dabei sind alle Leserichtungen erlaubt – waagerecht, senkrecht und diagonal sowie rückwärts und
          von
          unten nach oben. Für falsche Antworten oder das Weitergeben an das nächste Team-Mitglied wird eine Sekunde für
          das
          Team-Konto abgezogen.
        </p>

        <p>
          <span class="fw-bold">Anschluss gesucht</span>: Dem Team werden die zehn Antworten
          getrennt angezeigt. Dabei muss die grammatikalisch richtige
          Trennung der Antworten nicht übereinstimmen. Jede Frage muss mit Beginn und Endung zusammen gepuzzelt werden.
          Bei
          einer falschen Antwort ist das nächste Team-Mitglied an der Reihe. Für jede richtige Antwort erhält das Team 2
          Sekunden für das Team-Konto.
        </p>

        <p>
          <span class="fw-bold">Der entscheidende Hinweis</span>: Die Regeln dieses Spiels sind die gleichen, die beim
          Spiel
          "Hit Buzzer" gelten. Statt
          Liedtitel werden hier Sehenswürdigkeiten, reale und fiktive Persönlichkeiten, Städte, Länder oder Ereignisse
          gesucht.
        </p>

        <p>
          <span class="fw-bold">Buchstabenrad</span>: Es gibt ein Buchstabenrad mit 26 Fragen, also je
          einer
          Frage pro Buchstabe des Alphabets. Die
          Kandidaten haben die jeweils erspielten Sekunden für die Beantwortung der Fragen zur Verfügung. Werden alle 26
          richtig beantwortet, gewinnt der schnellere Kandidat den Hauptpreis.
        </p>
      </div>
    </div>
  </div>
</div>
