<div class="card">
  <div class="card-header text-center"><h2>Administration</h2></div>
  <div class="card-body">
    <p>
      <a class="link" routerLink="/admin/gallows-game">Mut zur Lücke</a>: Jedes Team hat eines von zwei Kategorien
      (bspw.
      'Handball und Fußball' oder 'Tag und Nacht'). Die
      Team-Mitglieder nennen nun solange Buchstaben, bis das zu erratende Wort gelöst wurde oder fünf falsche, nicht im
      Wort vorkommende Buchstaben genannt wurden. Wird ein falscher Buchstabe genannt, wechselt das Team-Mitglied und es
      konnte eine Sekunde weniger gewonnen werden. Für die Lösung jedes Wortes können bis zu 5 Sekunden für das
      Team-Konto
      gesammelt werden.
    </p>

    <p>
      <a class="link" routerLink="/admin/crossword">Buchstabensalat</a>: Die Kandidaten müssen in einem 5 × 5 Felder
      großen Gitter drei
      Wörter mit 3 bis 5 Buchstaben
      Länge finden. Dabei sind alle Leserichtungen erlaubt – waagerecht, senkrecht und diagonal sowie rückwärts und von
      unten nach oben. Für falsche Antworten oder das Weitergeben an das nächste Team-Mitglied wird eine Sekunde für das
      Team-Konto abgezogen.
    </p>

    <p>
      <a class="link" routerLink="/admin/connection-wanted">Anschluss gesucht</a>: Dem Team werden die zehn Antworten
      getrennt angezeigt. Dabei muss die grammatikalisch richtige
      Trennung der Antworten nicht übereinstimmen. Jede Frage muss mit Beginn und Endung zusammen gepuzzelt werden. Bei
      einer falschen Antwort ist das nächste Team-Mitglied an der Reihe. Für jede richtige Antwort erhält das Team 2
      Sekunden für das Team-Konto.
    </p>

    <p>
      Der entscheidende Hinweis: Die Regeln dieses Spiels sind die gleichen, die beim Spiel "Hit Buzzer" gelten. Statt
      Liedtitel werden hier Sehenswürdigkeiten, reale und fiktive Persönlichkeiten, Städte, Länder oder Ereignisse
      gesucht.
    </p>

    <p>
      <a class="link" routerLink="/admin/wheels">Buchstabenrad</a>: Es gibt ein Buchstabenrad mit 26 Fragen, also je
      einer
      Frage pro Buchstabe des Alphabets. Die
      Kandidaten haben die jeweils erspielten Sekunden für die Beantwortung der Fragen zur Verfügung. Werden alle 26
      richtig beantwortet, gewinnt der schnellere Kandidat den Hauptpreis.
    </p>
  </div>
</div>
