<div class="container">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="crosswordGameData.timer.isStarted">
        <table class="crossword float-end">
          <tr *ngFor="let row of crosswordGameData.crossword.rows; let rowIndex=index;">
            <td *ngFor="let letter of row.split(''); let colIndex=index;" class="text-uppercase" [ngClass]="{'bg-success': highlightLetter(rowIndex, colIndex)}">{{letter}}</td>
          </tr>
        </table>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-question">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="rounded-circle timer-circle text-center timer-crossword">
                {{crosswordGameData.timer.time}}
              </div>
            </div>
            <div class="col-6 text-center align-content-center">
              <h3 class="category">
                <ng-container *ngIf="crosswordGameData.timer.isStarted">
                  {{crosswordGameData.crossword.category}}
                </ng-container>
              </h3>
            </div>
            <div class="col-3">
              <div class="rounded-circle timer-circle text-center timer-crossword float-end">
                {{crosswordGameData.points}}
              </div>
              <div class="rounded-circle timer-circle mini-circle text-center float-end">
                {{CrosswordGameData.pointsPerCrossword - crosswordGameData.errors}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
