<div class="card">
  <app-navigation></app-navigation>
  <div class="card-header text-center">
    <h2>Buchstabenrad</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p>
          Es gibt ein Buchstabenrad mit 26 Fragen, also je einer Frage pro Buchstabe des Alphabets. Die Kandidaten haben
          die jeweils erspielten Sekunden für die Beantwortung der Fragen zur Verfügung. Werden alle 26 richtig
          beantwortet, gewinnt der schnellere Kandidat den Hauptpreis.
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" [disabled]="player1" (click)="switchPlayer(1)">Display Player 1</button>
        <button class="btn btn-primary" [disabled]="player2" (click)="switchPlayer(2)">Display Player 2</button>
      </div>
    </div>
  </div>
</div>

<hr>
<div [ngClass]="{'invisible': !player1}">
  <app-wheel name="Player1"></app-wheel>
</div>

<div [ngClass]="{'invisible': !player2}">
  <app-wheel name="Player2"></app-wheel>
</div>
