@import "src/assets/styles/app.scss";
@import "../display/display.component.scss";

$cell-size: 5vh;

td {
  height: $cell-size;
  width: $cell-size;
  line-height: $cell-size*2.5;
  text-align: center;
  font-weight: bold;
  font-size: $cell-size;

  margin-right: 5px;
  text-decoration: underline black;
}
