<div class="container">
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <div class="card gg-wrong-letters">
        <div class="card-body">
          {{gallowsGameData.wrongGuessedLetters.split('').join(' ')}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-question">
        <div class="card-header text-center">
          <h3>
            {{gallowsGameData.category.category}}
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="rounded-circle timer-circle text-center">
                {{gallowsGameData.timer.time}}
              </div>
            </div>
            <div class="col-6">
              <ng-container *ngIf="gallowsGameData.timer.isStarted">
                <table>
                  <tr>
                    <td rowspan="2" *ngFor="let letter of gallowsGameData.category.word.withGaps.split('')"
                        class="font-monospace text-uppercase align-content-center">{{letter}}</td>
                  </tr>
                </table>
              </ng-container>
            </div>
            <div class="col-3">
              <div class="rounded-circle timer-circle text-center float-end">
                {{gallowsGameData.points}}
              </div>
              <div class="rounded-circle timer-circle mini-circle text-center float-end">
                {{GallowsGameData.pointsPerWord - gallowsGameData.errors}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
