<div class="container">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="connectionWantedGameData.timer.isStarted">
        <div class="row" *ngFor="let q of connectionWantedGameData.connectionSet.connections; let index  = index">
          <div class="col-3">
            <div class="cwd-answer text-center" [ngClass]="{
                'cwd-answer-correct': connectionWantedGameData.answerStart[index].isAnswered && connectionWantedGameData.answerStart[index].isAnsweredCorrectly,
                'cwd-answer-incorrect': connectionWantedGameData.answerStart[index].isAnswered && !connectionWantedGameData.answerStart[index].isAnsweredCorrectly}">
              {{connectionWantedGameData.answerStart[index].answerStart}}
            </div>
          </div>
          <div class="col-6">
          </div>
          <div class="col-3">
            <div class="cwd-answer text-center float-end" [ngClass]="{
                'cwd-answer-correct': connectionWantedGameData.answerEnd[index].isAnswered && connectionWantedGameData.answerEnd[index].isAnsweredCorrectly,
                'cwd-answer-incorrect': connectionWantedGameData.answerEnd[index].isAnswered && !connectionWantedGameData.answerEnd[index].isAnsweredCorrectly}">{{connectionWantedGameData.answerEnd[index].answerEnd}}</div>
          </div>
        </div>
      </ng-container>
      <div class="card card-question">
        <div class="card-header text-center">
          <h3>{{connectionWantedGameData.connectionSet.name}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <div class="rounded-circle timer-circle text-center">
                {{connectionWantedGameData.timer.time}}
              </div>
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-12 text-center">
                  <ng-container *ngIf="connectionWantedGameData.timer.isStarted">
                    <div class="cwd-question">
                      {{connectionWantedGameData.connectionSet.connections[connectionWantedGameData.questionIndex].question}}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="rounded-circle timer-circle text-center float-end">
                {{connectionWantedGameData.points}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
