@import "src/assets/styles/app.scss";

$cell-size: 70px;

table, th, td {
  border: 1px solid black;
}

table.crossword {
  margin: 0 auto;
}

td {
  height: $cell-size;
  width: $cell-size;
  line-height: $cell-size;
  text-align: center;
  font-weight: bold;
  font-size: $cell-size;
}

.btn-word {
  margin-bottom: 10px;
  margin-right: 10px;
}
