@import "src/assets/styles/app.scss";

$circle-wrapper-color: #FFFFF;
$circle-color: #34b9af;
$circle-font-color: #ffffff;
$circle-color-correctly: rgb(23, 169, 0);
$circle-color-wrong: rgb(232, 64, 64);

$circle-size: 12vh;

html,
body {
  margin: 0;
  height: 100%;
}

.display-wrapper {
  background: url("../../../assets/images/bg.png");
}

.box {
  height: 100vh;
}

.timer-circle {

  background-color: $circle-color;
  height: $circle-size;
  width: $circle-size;
  line-height: $circle-size;
  font-size: $circle-size/2.5;
  text-shadow: 0px 0px 10px #000000;

  color: $circle-font-color;
  font-weight: bold;

  border: #737373 2px solid;
  box-shadow: inset #71f1e4 4px 4px 10px 0px;

  &.mini-circle {

    height: $circle-size/2;
    width: $circle-size/2;
    line-height: $circle-size/2;
    font-size: $circle-size/5;
  }
}

.card-question {
  border-radius: 30px;
  margin-bottom: 5vh;
}

.intro {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  padding: 0;
}
