<div class="container-fluid">
  <div class="row align-content-center box"
       [ngClass]="{
       'bg-black': displayData.data.currentScreenSelected == 0 && !displayData.data.isStarted}">
    <ng-container *ngIf="displayData.data.currentScreenSelected == 0 && !displayData.data.isStarted">
      <!-- Black Screen -->
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 99 && displayData.data.isStarted">
      <p>
        INTRO!
      </p>
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 0 && displayData.data.isStarted">
      <p>
        Der Moderator wählt gerade ein Spiel aus.
      </p>
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 98 && displayData.data.isStarted">
      <p>
        Spielstand!
      </p>
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 1">
      <app-gallows-game-display [gameData]="displayData.data"
                                [gallowsGameData]="displayData.data.specificData"></app-gallows-game-display>
    </ng-container>

    <ng-container *ngIf="displayData.data.currentScreenSelected == 2">
      <app-crossword-display [gameData]="displayData.data"
                             [crosswordGameData]="displayData.data.specificData"></app-crossword-display>
    </ng-container>

    <ng-container *ngIf="displayData.data.currentScreenSelected == 3">
      Das jetzige Spiel ist "Anschluss gesucht".
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 4">
      Das jetzige Spiel ist "Der entscheidende Hinweis".
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 5">
      Das jetzige Spiel ist "Buchstabenrad".
    </ng-container>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <code>
      {{ displayData | json}}
    </code>
  </div>
</div>
