<div class="container-fluid display-wrapper">
  <div class="row align-content-end box"
       [ngClass]="{
       'bg-black': displayData.data.currentScreenSelected == 0 && !displayData.data.isStarted,
       'align-content-end': displayData.data.currentScreenSelected != 98,
       'align-content-center': displayData.data.currentScreenSelected == 98}">
    <ng-container *ngIf="displayData.data.currentScreenSelected == 0 && !displayData.data.isStarted">
      <!-- Black Screen -->
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 99 && displayData.data.isStarted">
      <ng-container *ngIf="displayData.data.specificData.isVideoShown">
        <video controls autoplay>
          <source src="assets/images/intro-with-sound.mp4" type="video/mp4">
        </video>
      </ng-container>
      <ng-container *ngIf="displayData.data.specificData.isImageShown">
        <img src="assets/images/intro-screen.jpg" alt="Intro Screen">
      </ng-container>
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 0 && displayData.data.isStarted">
      <p>
        Der Moderator wählt gerade ein Spiel aus.
      </p>
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 98 && displayData.data.isStarted">
      <app-score-display [gameData]="displayData.data" [scoreData]="displayData.data.specificData"></app-score-display>
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 1">
      <app-gallows-game-display [gameData]="displayData.data"
                                [gallowsGameData]="displayData.data.specificData"></app-gallows-game-display>
    </ng-container>

    <ng-container *ngIf="displayData.data.currentScreenSelected == 2">
      <app-crossword-display [gameData]="displayData.data"
                             [crosswordGameData]="displayData.data.specificData"></app-crossword-display>
    </ng-container>

    <ng-container *ngIf="displayData.data.currentScreenSelected == 3">
      <app-connection-wanted-display [gameData]="displayData.data"
                                     [connectionWantedGameData]="displayData.data.specificData"></app-connection-wanted-display>
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 4">
      <app-crucial-hint-display [gameData]="displayData.data"
                                [crucialHintGameData]="displayData.data.specificData"></app-crucial-hint-display>
    </ng-container>
    <ng-container *ngIf="displayData.data.currentScreenSelected == 5">
      <app-wheel-display [gameData]="displayData.data"
                         [wheelgameData]="displayData.data.specificData"></app-wheel-display>
    </ng-container>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <code>
      {{ displayData | json}}
    </code>
  </div>
</div>
